@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Playfair+Display&display=swap');

/* Generic style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Remove bullets from unordered list items throughout the site*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: noto-sans, sans-serif;
    font-weight: 400;
    min-height: 100%;
}

/*Style header, logo and nav */

#logo-menu {
    display: flex;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
    

}

#site-logo {
    display: flex;
    max-height: 150px;
    max-width: 150px;

}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    width: 100%;     
    border: 2px solid brown; 
}

#menu-list {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    margin-left: 5%;
    gap: 1rem;


}

li {
   
    
    
    
}